<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmdp.mapper.VoucherMapper">

    <select id="queryVoucherOfShop" resultType="com.hmdp.entity.Voucher" parameterType="java.lang.Long">
        SELECT
            v.`id`, v.`venue_id`, v.`title`, v.`time_rules`, v.`begin_time`, v.`end_time`,
            v.`type`, sv.`stock`
        FROM tb_voucher v
        LEFT JOIN  tb_seckill_voucher sv ON v.id = sv.voucher_id
        WHERE v.venue_id = #{venueId}
    </select>
</mapper>
